@charset "UTF-8";

body {
	margin: 0;
	/* 画像ファイルの指定 */
	/*background-image: url(./image/background1.jpg);*/
	/* 画像を常に天地左右の中央に配置 */
	background-position: center center;
	/* 画像をタイル状に繰り返し表示しない */
	background-repeat: no-repeat;
	/* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
	background-attachment: fixed;
	/* 表示するコンテナの大きさに基づいて、背景画像を調整 */
	background-size: cover;
	/* 背景画像が読み込まれる前に表示される背景のカラー */
	background-color: #f5f5f5;
}

#header {
	/*font-size: 50px;*/
	font-size: 1.5em;
	font-family: "Courier";
	color: #fff;
	/*border: 0px double #000;*/
	/*width: 400px;*/
	/*text-align: left;*/
	background-color: #282E2E;
	background: cover;
	padding: 1em;
	position: relative;
}

/* .icon {
	filter: grayscale(60%);
	height: 1em;
	align-items: center;
	padding-right: 0.5em;
} */


#header_title {
	text-align: center;
	max-width: 60%;
}

.img_flag {
	height: 1em;
	/*vertical-align: -40%;*/
}


#select_language {
	margin: auto;
	right: 1em;
	font-size: 0.6em;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	max-width: 40%;
}

.lang_text {
	color: white;
}

.subject {
	background-color: #a9a9a9;
	color: white;
	padding: 0.5em;
}


.contents {
	background-color: #dcdcdc;
}

.table_example {
}

.table_example td {
	width: 200px;
	text-align: center;
}

.img_example {
	/* height: 60px; */
	width: 90%;
	vertical-align: -100%;
	padding: 1.5%;
}

.label_style input[type="radio"] {
	display: none;
}
.label_style input[type="radio"]:checked + img {
	background-color: red;
}

#label_file {
	text-align: center;
	border-radius: 10px;
	background: #282E2E;
	color: #fff;
	padding: 0.5em 1em;
}

#label_file input {
	display: none;
}

#label_button_reload {
	text-align: center;
	border-radius: 10px;
	background: #282E2E;
	color: #fff;
	padding: 0.5em 1em;
}

#label_button_reload input {
	display: none;
}

#img_result_parent {
	margin-left: 5%;
	width: 40%;
	padding-top: 22.25%;
	background-color: black;
	position: relative;
}

#img_result {
	margin-left: 0;
	width: 100%;
	max-height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	object-fit: cover;
}

.table1 {
/* 	width: 100%; */
/* 	background-color: #f5f5f5; */
}
.table1 th {
	text-align: center;
	background-color: #c0c0c0;
}

.table1 td {
	text-align: center;
}
.tb_team {
	width: 5em;
}

.tb_pts {
	width: 5em;
}

.tb_comment {
	width: 100%;
}

.label_radio {
	display: block;
	width: 100%;
	height: 100%;
}

.label_check {
	display: block;
	width: 100%;
	height: 100%;
}

.check_eng {
	height: 3em;
}

.check_jpn {
	height: 2em;
}

.table1 tr:nth-child(even) {
	background: #eee;
}

.table1 tr:hover {
	background: #a9a9a9;
}

#label_button_canvas {
	text-align: center;
	border-radius: 10px;
	background: #282E2E;
	color: #fff;
	padding: 0.5em 1em;
}

#label_button_canvas input {
	display: none;
}

.text_total {
	font-size: 1.5em;
	margin-top: 2em;
}

#label_download_button {
	text-align: center;
	border-radius: 10px;
	background: #282E2E;
	color: #fff;
	padding: 0.5em 1em;
}

#label_download_button button {
	display: none;
}

#blank {
	padding-bottom: 200px;
	/*background-color: rgba(33, 39, 98, 0);*/
}

#foot {
	color: #fff;
	/*margin-right: 100px;*/
	text-align: right;
	width: 100%;
	height: 100px;
	background-color: #282E2E;
	background: cover;
}

.linktext {
	margin-right: 15px;
	text-decoration: none; /*delete underline*/
	color: #fff;
	height: 10px;
}



.img_Twitter {
	height: 30px;
	/*vertical-align: -40%;*/
}
/*for lounge.html*/
#inputText {
	height: 10em;
	width: 80%;
}

#outputText {
	height: 30em;
	width: 80%;
}

#commandText {
	height: 5em;
	width: 80%;
}

#loadExample {
	height: 2em;
}
/*
.img_Instagram{
height: 30px;
filter:invert(100%);
}
.img_Youtube{
width: 30px;
position: relative;
bottom: 5px;
}
*/
@media only screen and (max-device-width: 480px) {
	body {
		margin: 0;
		/* 画像ファイルの指定 */
		/*background-image: url(./image/background1.jpg);*/
		/* 画像を常に天地左右の中央に配置 */
		background-position: center center;
		/* 画像をタイル状に繰り返し表示しない */
		background-repeat: no-repeat;
		/* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
		background-attachment: fixed;
		/* 表示するコンテナの大きさに基づいて、背景画像を調整 */
		background-size: cover;
		/* 背景画像が読み込まれる前に表示される背景のカラー */
		background-color: #f5f5f5;
		font-size: 40px;
	}
	#header {
		font-size: 1.2em;
		font-family: "Courier";
		color: #fff;
		/*border: 0px double #000;*/
		/*width: 400px;*/
		text-align: left;
		background-color: #282E2E;
		background: cover;
		/*display: flex;*/
  		align-items: center;
  		padding: 1em;
	}
	.icon {
		filter: grayscale(60%);
		height: 2em;
		margin: auto;
		align-items: center;
	}
	#header_title {
		text-align: center;
		max-width: none;
	}
	.css-br::after  {
		content: "\A" ;
		white-space: pre-wrap;
	}
	#select_language {
		margin: auto;
		right: 1em;
		font-size: 0.6em;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		max-width: none;
		height: 1em;
		text-align: right;
		/* font-size: 20px; */
	}

	.lang_text  {
		color: white;
	}
	.subject {
		background-color: #a9a9a9;
		color: white;
		padding: 0.5em;
		font-size: 1em;
		height: 1.5em;
	}
	.table_example {
	width: 100%;
	font-size: 0.75em;
	}

	.table_example td {
		text-align: center;
		width: 50%;
	}

	.img_example {
		width: 75%;
		height: auto;
		vertical-align: -100%;
		padding: 1.2%;
	}

	.label_style input[type="radio"] {
		display: none;
	}
	.label_style input[type="radio"]:checked+img {
		background-color: red;
	}

	#label_file{
		text-align: center;
		border-radius: 10px;
		background: #282E2E;
		color: #fff;
		padding: 0.5em 1em;
		display: inline-block;
	}

	#label_file input {
		display: none;
	}

	#label_button_reload{
		text-align: center;
		border-radius: 10px;
		background: #282E2E;
		color: #fff;
		padding: 0.5em 1em;
		display: inline-block;
	}

	#label_button_reload input {
		display: none;
	}

	#img_result_parent {
		margin: auto;
		width: 80%;
		padding-top: 45%;
		background-color: black;
		position: relative;
	}
	#img_result {
		margin-left: 0;
		width: 100%;
		max-height: 100%;
		position: absolute;
		top: 0%;
		left: 0%;
		object-fit: cover;
	}
	.canvas {
		width: 100%;
		height: auto;
	}


	.table1 {
		width: 100%;
		font-size: 0.667em;
	}
	.table1 th {
		text-align: center;
		background-color: #c0c0c0;
	}
	.table1 td {
		text-align: center;
	}
	.tb_team {
		width: 5em;
	}
	.tb_pts {
		width: 5em;
	}
	.tb_comment {
		width: 100%;
	}
	.label_radio {
		display: block;
		width: 100%;
		height: 100%;
	}
	.label_check {
		display: block;
		width: 100%;
		height: 100%;
	}
	.check_eng {
		height: 3em;
	}
	.check_jpn {
		height: 2em;
	}
	.table1 tr:nth-child(even) {
		background: #eee;
	}
	.table1 tr:hover {
		background: #a9a9a9;
	}

	#label_button_canvas{
		text-align: center;
		border-radius: 10px;
		background: #282E2E;
		color: #fff;
		padding: 0.5em 1em;
		display: inline-block;
	}

	#label_button_canvas input {
		display: none;
	}

	.text_total {
		font-size:40px;
		margin-top: 2em;
	}
	#total {
		font-size:40px;
	}

	#canvas_result {
		width: 100%;
	}

	#label_download_button{
		text-align: center;
		border-radius: 10px;
		background: #282E2E;
		color: #fff;
		padding: 0.5em 1em;
		display: inline-block;
	}

	#label_download_button button {
		display: none;
	}

	#blank {
		padding-bottom: 200px;
		/*background-color: rgba(33, 39, 98, 0);*/
	}
	#foot {
		color: #fff;
		/*margin-right: 100px;*/
		text-align: right;
		width: 100%;
		height: 100px;
		background-color: #282E2E;
		background: cover;
		display: flex;
  		align-items: center;
	}
	.linktext {
		font-size: 0.667em;
		margin: 1em 1em 1em auto;
		text-decoration: none; /*delete underline*/
		color: #fff;
		height: 1em;
	}
	.img_flag {
		text-align: center;
		height: 1em;
		/*vertical-align: -40%;*/
	}
	.img_Twitter {
		height: 1em;
		/*vertical-align: -40%;*/
	}

	/*for lounge.html*/
	#inputText {
		font-size: 0.5em;
		height: 10em;
	}
	#outputText {
		font-size: 0.5em;
		height: 30em;
	}
	#commandText {
		font-size: 0.5em;
		height: 5em;
	}
	#loadExample {
		height: 3em;
		font-size: 0.7em;
	}
	/*
	.img_Instagram{
		height: 30px;
		filter:invert(100%);
	}
	.img_Youtube{
		width: 30px;
		position: relative;
		bottom: 5px;
	}
	*/
}
