@charset "UTF-8";

body {
	margin: 0;
	/* 画像ファイルの指定 */
	/*background-image: url(./image/background1.jpg);*/
	/* 画像を常に天地左右の中央に配置 */
	background-position: center center;
	/* 画像をタイル状に繰り返し表示しない */
	background-repeat: no-repeat;
	/* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
	background-attachment: fixed;
	/* 表示するコンテナの大きさに基づいて、背景画像を調整 */
	background-size: cover;
	/* 背景画像が読み込まれる前に表示される背景のカラー */
	background-color: #f5f5f5;
}

#header {
	font-size: 50px;
	font-family: "Courier";
	color: #fff;
	/*border: 0px double #000;*/
	/*width: 400px;*/
	text-align: center;
	background-color: #282E2E;
	background: cover;
}

#select_language {
		text-align: right;
	}

.img_example {
	height: 60px;
	vertical-align: -100%;
}
/*
.table1 {
	width: 100%;
}*/

.table1 th {
	text-align: center;
	background-color: #c0c0c0;
}

.table1 td {
	text-align: center;
}
.tb_team {
	width: 5em;
}

.tb_pts {
	width: 5em;
}

.tb_comment {
	width: 100%;
}

.label_radio {
	display: block;
	width: 100%;
	height: 100%;
}

.label_check {
	display: block;
	width: 100%;
	height: 100%;
}

.check_eng {
	height: 3em;
}

.check_jpn {
	height: 2em;
}

.table1 tr:nth-child(even) {
	background: #eee;
}

.table1 tr:hover {
	background: #a9a9a9;
}

.text_total {
	font-size: 1.5em;
}

#blank {
	padding-bottom: 200px;
	/*background-color: rgba(33, 39, 98, 0);*/
}

#foot {
	color: #fff;
	/*margin-right: 100px;*/
	text-align: right;
	width: 100%;
	height: 100px;
	background-color: #282E2E;
	background: cover;
}

.linktext {
	margin-right: 15px;
	text-decoration: none; /*delete underline*/
	color: #fff;
	height: 10px;
}

.img_flag {
	height: 30px;
	/*vertical-align: -40%;*/
}

.img_Twitter {
	height: 30px;
	/*vertical-align: -40%;*/
}

/*
.img_Instagram{
height: 30px;
filter:invert(100%);
}
.img_Youtube{
width: 30px;
position: relative;
bottom: 5px;
}
*/
@media only screen and (max-device-width: 480px) {
	body {
		margin: 0;
		/* 画像ファイルの指定 */
		/*background-image: url(./image/background1.jpg);*/
		/* 画像を常に天地左右の中央に配置 */
		background-position: center center;
		/* 画像をタイル状に繰り返し表示しない */
		background-repeat: no-repeat;
		/* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
		background-attachment: fixed;
		/* 表示するコンテナの大きさに基づいて、背景画像を調整 */
		background-size: cover;
		/* 背景画像が読み込まれる前に表示される背景のカラー */
		background-color: #f5f5f5;
		font-size: 40px;
	}
	#header {
		font-size: 1em;
		font-family: "Courier";
		color: #fff;
		/*border: 0px double #000;*/
		/*width: 400px;*/
		text-align: left;
		background-color: #282E2E;
		background: cover;
		height: 2.5em;
		display: flex;
  		align-items: center;
  		padding-left: 1em;
	}
	.subject {
		width: auto;
		height: 1em;
		/*font-size: 1em;*/
	}
	#select_language {
		height: 1em;
		text-align: right;
		/* font-size: 20px; */
	}
	.table_example {
	width: 100%;
	font-size: 0.75em;
	}

	.table_example td {
		text-align: center;
	}

	#label_file{
		text-align: center;
		border-radius: 10px;
		background: #282E2E;
		color: #fff;
		padding: 0.5em 1em;
	}

	#label_file input {
		display: none;
	}

	.canvas {
		width: 100%;
		height: auto;
	}

	.img_example {
		width: 100%;
		height: auto;
		vertical-align: -100%;
	}
	.table1 {
		width: 100%;
		font-size: 0.667em;
	}
	.table1 th {
		text-align: center;
		background-color: #c0c0c0;
	}
	.table1 td {
		text-align: center;
	}
	.tb_team {
		width: 5em;
	}
	.tb_pts {
		width: 5em;
	}
	.tb_comment {
		width: 100%;
	}
	.label_radio {
		display: block;
		width: 100%;
		height: 100%;
	}
	.label_check {
		display: block;
		width: 100%;
		height: 100%;
	}
	.check_eng {
		height: 3em;
	}
	.check_jpn {
		height: 2em;
	}
	.table1 tr:nth-child(even) {
		background: #eee;
	}
	.table1 tr:hover {
		background: #a9a9a9;
	}

	#label_button_canvas{
		text-align: center;
		border-radius: 10px;
		background: #282E2E;
		color: #fff;
		padding: 0.5em 1em;
	}

	#label_button_canvas input {
		display: none;
	}

	.text_total {
		font-size:40px;
		margin-top: 2em;
	}
	#total {
		font-size:40px;
	}

	#blank {
		padding-bottom: 200px;
		/*background-color: rgba(33, 39, 98, 0);*/
	}
	#foot {
		color: #fff;
		/*margin-right: 100px;*/
		text-align: right;
		width: 100%;
		height: 100px;
		background-color: #282E2E;
		background: cover;
	}
	.linktext {
		font-size: 0.667em;
		margin: 15px;
		margin-right: 15px;
		text-decoration: none; /*delete underline*/
		color: #fff;
		height: 1em;
	}
	.img_flag {
		text-align: center;
		height: 1em;
		/*vertical-align: -40%;*/
	}
	.img_Twitter {
		height: 1em;
		/*vertical-align: -40%;*/
	}

	/*
	.img_Instagram{
		height: 30px;
		filter:invert(100%);
	}
	.img_Youtube{
		width: 30px;
		position: relative;
		bottom: 5px;
	}
	*/
}
